@import "~@fontsource/open-sans/index.css";
@import "~@fontsource/courgette/index.css";
@import "~@fontsource/roboto/index.css";
@import "~@fontsource/roboto/700.css";
@import "~@fontsource/roboto/300.css";
@import "~@fontsource/roboto/400.css";
@import "~@fontsource/open-sans/700.css";
@import "~@fontsource/open-sans/600.css";
@import "~@fontsource/open-sans/400.css";
@import "~@fontsource/courgette/400.css";
@import "~@fontsource/open-sans/300.css";
@import '~bootstrap/scss/bootstrap';




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}